
        body{
            

            background-color:  rgb(28, 102, 172);
        }
        .container{
            
            background-color: grey;
        }
       .fruit{
    
    background: rgb(28, 102, 172);
    width: 800px;
    margin:auto;
    padding: 25px 40px 10px 40px;
    
  }
  .money{
    
    background: rgb(28, 102, 172);
    width: 800px;
    margin:auto;
    padding: 25px 40px 10px 40px;
    
  }
  .dollar{
    
    background: rgb(28, 102, 172);
    width: 800px;
    margin:auto;
    padding: 25px 40px 10px 40px;
   
  }
  .pound{
    
    background: rgb(28, 102, 172);
    width: 800px;
    margin:auto;
    padding: 25px 40px 10px 40px;
   
  }
  .rome{

    background: rgb(28, 102, 172);
    width: 800px;
    margin:auto;
    padding: 25px 40px 10px 40px;
    
   
  }

    